<style>
    body {
        color: #404E67;
        background: #F5F7FA;
        font-family: 'Open Sans', sans-serif;
    }
    .table-wrapper {
        margin: 30px auto;
        background: #fff;
        padding: 20px;	
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }
    .table-title {
        padding-bottom: 10px;
        margin: 0 0 10px;
    }
    .table-title h2 {
        margin: 6px 0 0;
        font-size: 22px;
    }
    table.table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 15px;
    }
    table.table th, table.table td {
        border: 1px solid #e9e9e9;
        padding: 8px;
        text-align: center;
    }
    table.table th {
        background-color: #343a40;
        color: #fff;
    }
    table.table td a {
        display: inline-block;
        min-width: 32px;
        margin-right: 5px;
    }
    table.table td i {
        font-size: 18px;
    }
    table.table .edit i {
        color: #FFC107; /* Couleur jaune pour l'édition */
    }
    table.table .delete i {
        color: #DC3545; /* Couleur rouge pour la suppression */
    }
</style>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
    <div class="card shadow mb-6">
    <div class="card-body">
        <table class="table table-bordered  table-striped">
    <thead class="thead-dark">
   
   
 <tr> <th>Id</th><th>Destination</th> <th>Prix</th> <th>Date Excursion</th> <th>Heure de Depart</th><th>Heure d 'Arrivé</th><th>Lieu de Depart</th>  <th>Type d'Excursion</th>   <th>Image</th></tr>
    </thead>
    <tbody *ngFor="let excursion of excursions">
<tr >
<td>{{excursion.idExcursion}}</td>
<td>{{excursion.distinationExcursion}}</td>
<td>{{excursion.prixExcursion}}</td>
<td>{{excursion.dateExcursion | date:'dd-MM-yyyy'}}</td>
<td>{{excursion.heureDepart}}</td>
<td>{{excursion.heureRetour}}</td>
<td>{{excursion.lieuDepart}}</td>
 <td>{{excursion.type?.nomType}}</td> 
 <td><img class="card-img-top img-responsive"
   
    src = "{{excursion.imageStr}}"
style = "height :50px;width:100px">
    </td>
 <td>
   <a *ngIf="authService.isAdmin()"
   class="edit  text-warning" [routerLink]="['/updateExcursion',excursion.idExcursion]" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a> 
   </td>
  <td><a *ngIf="authService.isAdmin()"
    class="delete text-danger" (click)="supprimerExcursion(excursion)" title="Delete" data-toggle="tooltip"> <i class="material-icons">&#xE872;</i></a>
</td>
</tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>