<form class="form">
    <h2>Update Excursion </h2>
    <div hidden class="form-group">
        <label for="email">Id Excursion</label>
        <div class="relative">
            <input [(ngModel)]="currentExcursion.idExcursion" name="id" class="form-control" id="name" type="number" pattern="[a-zA-Z\s]+" required="" autofocus="" title="Username should only contain letters. e.g. Piyush Gupta" autocomplete="" placeholder="Type your id here...">
            <i class="fa fa-user"></i>
        </div>
    </div>

<div class="form-group">
    <label for="email">destination Excursion:</label>
    <div class="relative">
        <input [(ngModel)]="currentExcursion.distinationExcursion" name="distinationExcursion" class="form-control" type="url" pattern="https?://.+" required="" placeholder="Mention your destination ...">
      
    </div>
</div>
<div class="form-group">
    <label for="email">Prix Excursion:</label>
  <div class="relative">
      <input class="form-control" [(ngModel)]="currentExcursion.prixExcursion" name="prixExcursion" type="text" id="tags" required="" placeholder="Type your price">
    
  </div>
</div>



<div class="form-group">
    <label for="email">  Date Excursion </label>
    <div class="relative">
        <input [(ngModel)]="currentExcursion.dateExcursion" name="dateExcursion" class="form-control" type="date"  required="" placeholder="Type your start date Number...">
       
    </div>
</div>

<div class="form-group">
    <label for="email"> Heure de Depart</label>
    <div class="relative">
        <input [(ngModel)]="currentExcursion.heureDepart" name="dateFin" class="form-control" type="text"  required="" placeholder="Type your start time Number...">
   
    </div>
</div>
  

<div class="form-group">
    <label for="email"> Heure d ' Arrivée</label>
    <div class="relative">
        <input [(ngModel)]="currentExcursion.heureRetour" name="heureRetour" class="form-control" type="text"  required="" placeholder="Type your end time Number...">
    
    </div>
</div>
  

<div class="form-group">
    <label for="email"> Lieu de Depart</label>
    <div class="relative">
        <input [(ngModel)]="currentExcursion.lieuDepart" name="lieuDepart" class="form-control" type="text"  required="" placeholder="Type your start place...">
    
    </div>
</div>
 <div class="form-group">
    <label for="email">Type d'Excursion:</label>
  <div class="relative">
    <select class="form-control form-control-lg" id="idType" name="idType" 
    [(ngModel)]="updatedTypeId" name="typeStage">
    <option *ngFor="let type of types" [value]="type.idType"> 
    {{type.nomType}}</option>
    </select> 
  </div>
</div> 


<div class="form-group">
    <label class="mb-2">Image :</label>
    <div class="relative">
    <input type="file" (change)="onImageUpload($event)" class="form-control">
    </div>
<!--
    <div class="form-group">
        <button type="submit" (click)="onAddImageExcursion()" class="btn
        btn-info">Ajouter Image <i class="fa fa-fw fa-paper-plane"></i></button>
        </div>
-->
<div class="form-group">
    <img [src]="myImage" class="card-img-top img-fluid rounded-start"
    style="width: 500px; height: 300px" />
    </div>

    <div class="form-group">
        <div class="card shadow mb-6">
            <div class="card-body">
                <table class="table table-bordered  table-striped">
            <thead class="thead-dark">
           
        <tr> <th>Images</th> </tr>
        </thead>
        <tbody *ngFor="let img of currentExcursion.images">
            <tr>
            <td><img class="card-img-top img-responsive"
            src = "{{'data:' + img.type + ';base64,' + img.image}}"
            style = "height :50px;width:100px"></td>
            <td style="width:20%" ><a class="btn btn-danger"
                (click)="supprimerImage(img)">Supprimer</a></td>
            </tr>
            </tbody>
            </table>
            </div>
            </div>
            </div>

<div class="form-group">              
    <div class="tright">
        <button class="btn btn-warning" type="reset"><i class="fa fa-fw fa-refresh"></i> Reset</button>
        <button (click)="updateExcursion()" class="btn btn-success" type="submit">Submit <i class="fa fa-fw fa-paper-plane"></i></button>
      </div>
    </div>
  
    <div class="thanks" style="display: none;">
        <h4>Thank you!</h4>
        <p><small>Your message has been successfully sent.</small></p>
    </div>
  
